.notification-container{
  width: 100%;
  padding: 0 var(--pd-4);
  margin: var(--mg-1) 0;
}
.notification-container .notification-box{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
  margin-bottom: var(--mg-4);
  padding:  var(--pd-5);
  background: var(--main-white);
  border: 2px solid var(--main-yellow);
  border-radius: 10px;
}
.notification-container .notification-box .notification-info{
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
.notification-container .notification-box .notification-info .icon-and-type{
  display: flex;
  align-items: center;
}
.notification-container .notification-box .notification-info .type-text{
  font-weight: 800;
  text-transform: uppercase;
}
.notification-container .notification-box .notification-info .yellow{
  color: var(--main-yellow);
}
.notification-container .notification-box .notification-info .red{
  color: var(--main-red);
}

@media(max-width: 991px){
  .notification-container .notification-box{
    flex-direction: column;
  }
  .notification-container .notification-box .notification-info{
    display: flex;
    align-items: center;
    flex-direction: column;
  }
}