.notification-container{
  width: 100%;
  max-width: 1200px;
  padding: 0 var(--pd-4);
  margin: var(--mg-10) 0;
}
.notification-container .notification-box{
  margin: 10px 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  border: 1px solid #ffe5e5;
  border-radius: 8px;
  background-color: #ffe5e5;
  padding: var(--pd-8);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); 
}
.notification-container .notification-box .notification-info{
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
.notification-container .notification-box .notification-info .icon-and-type{
  display: flex;
  align-items: center;
}
.notification-container .notification-box .notification-info .text-type{
  font-weight: 800;
  color: #ff9800;
}
.notification-container .notification-box .notification-info .yellow{
  color: #ff9800;
}
.notification-container .notification-box .notification-info .red{
  color: var(--main-red);
}

