.container-tabela {
  display: flex;
  justify-content: center;
  border-radius: 15px;
  background: white;
  color: var(--font-black);
  box-sizing: border-box;
  width: 80%;
  margin-top: 1.5%;
  margin-left: 3.5%;
  margin-bottom: 5%;

}

/* CSS REFERENTE A TABELA */

.tabela {
  width: 100%;
  border-collapse: separate;
  border-spacing: 0;
  border-radius: 12px;
  overflow: hidden;
}

.tabela th, .tabela td {
  padding: 10px;
  text-align: center;
}

.tabela thead{
  background-color: #5751d3;
  color: white;
}

.tabela tbody tr {
  cursor: pointer;
  border-bottom: 1px solid var(--font-black);
}

.tabela tbody tr:last-child td {
  border-bottom: none;
}

.tabela td:last-child {
  border-right: none;
}

.tabela thead th:last-child {
  border-right: none;
}

.linha{
  background-color: var(--main-white);
}

/* Estilos específicos para o dropdown */
.dropdown-tabela {
  border-top: 1px solid var(--font-black); 
  border-bottom: 1px solid var(--font-black);
  border-radius: 0 0 12px 12px;
  padding: 10px;
  transition: all 0.3s ease;
  justify-content: center;
  width: 100%;
  margin: 0;
}

.dropdown-content{
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}

/* Linha separada para o ID */
.id-row {
  margin: 1% 0 0 2.8%;
  font-weight: bold;
  text-align: left;
}

/* Layout para o conteúdo do dropdown com duas colunas */
.dropdown-columns {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

/* Estilos para as colunas do dropdown */
.dropdown-col {
  flex: 1;
  padding: 0 10px;
  box-sizing: border-box;
  margin: 3% 7% 4% 2%;
  text-align: left !important;
  width: 100%;
  align-items: center;
  justify-content: center;
  margin-bottom: 2%;
}

/* Estilos para os elementos extras (como botões) */
.dropdown-extra {
  display: flex;
  flex-direction: row;
  margin-top: 10px;
  width: 100%;
  justify-content: center;
}

/* Estilização dos botões do dropdown */
.dropdown-item {
  display: flex;
  flex-direction: row;
  justify-content: center; /* Alterar para espaçar os itens */
  gap: 15px; /* Adiciona espaçamento entre os botões */
  width: 100%;
  padding: 5px; /* Adicionar um padding para espaçamento interno */
}


.edicao {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}

.edicao p {
  margin-bottom: 10px; /* Espaçamento entre os parágrafos */
}

/* Estilização campos de edição*/
.edicao input, select {
  border: none;
  padding: var(--pd-2);
  border-radius: 5px;
  margin-top: 5px;
  margin-bottom: 2%;
  background-color: var(--main-white);
  box-sizing: border-box; 
  width: 100%;
}

/* Estilização do botão */
button .btnTabela {
  display: flex;
  padding: 5px 10px;
  background-color: var(--main-purple);
  border: none;
  color: white;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s;
}

button .btnTabela:hover {
  background-color: var(--main-white);
  color: black;
  border: 3px solid var(--main-purple);
}
.dropdown-extra {
  display: flex;
  justify-content: center; 
  width: 100%;
  margin-top: 15px; /* Adiciona um espaçamento superior ao dropdown */
}

.btn {
  padding: 8px 12px;
  background-color: var(--main-purple);
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.btn:hover {
  background-color: var(--main-white);
  color: black;
  border: 2px solid var(--main-purple);
}


.parameter-container{
  width: 80%;
  padding: var(--pd-4);
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.adicionarParametro{
  margin-top: 12px;
  padding: var(--pd-4);
  margin-left: auto;
}

/* Estilos gerais */
.title-text {
  color: #2c2c2c;
  font-size: 24px;
  font-weight: bold;
}


.btn {
  background-color: #5751d3 !important;
  color: white;
  padding: 10px 15px;
  border-radius: 10px;
  cursor: pointer;
  border: none !important;
  font-size: 16px;
  font-weight: 600;
  transition: background-color 0.3s ease;
}

.btn:hover {
  background-color: #4a1990 !important;
  color: white !important;
}

.button-container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
  width: 100%;
}

/* Botões de ação no dropdown */
.button-group {
  display: flex;
  justify-content: center;
  gap: 15px;
}

.btn-editar, .btn-deletar {
  font-size: 16px;
  padding: 10px 25px;
  border-radius: 5px;
  cursor: pointer;
  border: none;
  font-weight: 600;
  transition: background-color 0.3s ease;
}

.btn-editar {
  background-color: #5751d3;
  color: white;
}

.btn-editar:hover {
  background-color: #4a1990;
}

.btn-deletar {
  background-color: #5751d3;
  color: white;
}

.btn-deletar:hover {
  background-color: #4a1990;
}

/* Botão de filtro */
.btn-filtro {
  background-color: #7e57c2;
  color: white;
  padding: 10px 15px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  margin-left: auto;
  border: none;
}

.btn-filtro:hover {
  background-color: #6a4c93;
}

/* Estilo do componente de adicionar parâmetro
.adicionarParametro {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 15px;
} */

/* Estilos para os botões */
.btn-salvar, .btn-deletar {
  background-color: #5751d3; /* Cor de fundo */
  color: white; /* Cor do texto */
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 5px;
  font-weight: bold;
  font-size: 16px;
}

.btn-salvar:hover, .btn-deletar:hover {
  background-color: #4a1990; /* Cor de fundo ao passar o mouse */
}

.input-field {
  width: 100%;
  padding: 8px;
  margin: 5px 0;
  box-sizing: border-box;
  border: none;
  background-color: var(--main-white);
  border-radius: 4px;
}

.adicionarParametro {
  background-color: #5751d3;
  color: white;
  padding: 10px 15px;
  border-radius: 10px;
  cursor: pointer;
  border: none;
  font-size: 16px;
  font-weight: 600;
  transition: background-color 0.3s ease;
  margin-right: 10%; /* Move o botão para a direita */
}

.adicionarParametro:hover {
  background-color: #4a1990;
}

.field-label {
  display: block;
  font-weight: bold;
  color: #5751d3;
}

.field-value {
  display: block;
  margin-bottom: 10px;
}

.button-group {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
  width: 90%;
  margin-bottom: 1.5%;
}

@media screen and (max-width: 768px){

  .adicionarParametro{
    width: 100%;
  }
  
}
