.parameter-container{
  width: 80%;
  padding: var(--pd-4);
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.adicionarParametro{
  width: 50%;
  margin-top: 12px;
  padding: var(--pd-4);
  /* margin-left: 50%; */
  margin-left: auto;
}

/* Estilos gerais */
.title-text {
  color: #2c2c2c;
  font-size: 24px;
  font-weight: bold;
}


.btn {
  background-color: #7e57c2;
  color: white;
  padding: 10px 15px;
  border-radius: 5px;
  cursor: pointer;
  border: none;
  font-size: 14px;
  transition: background-color 0.3s ease;
}

.btn:hover {
  background-color: #6a4c93;
}

.button-container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
  width: 100%;
}

/* Botões de ação no dropdown */
.button-group {
  display: flex;
  justify-content: center;
  gap: 15px;
}

.btn-editar, .btn-deletar {
  font-size: 12px;
  padding: 8px 13px;
  border-radius: 4px;
  cursor: pointer;
  border: none;
  transition: background-color 0.3s ease;
}

.btn-editar {
  background-color: #7e57c2;
  color: white;
}

.btn-editar:hover {
  background-color: #6a4c93;
}

.btn-deletar {
  background-color: #7e57c2;
  color: white;
}

.btn-deletar:hover {
  background-color: #6a4c93;
}

/* Botão de filtro */
.btn-filtro {
  background-color: #7e57c2;
  color: white;
  padding: 10px 15px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 14px;
  margin-left: auto;
  border: none;
}

.btn-filtro:hover {
  background-color: #6a4c93;
}

/* Estilo do componente de adicionar parâmetro
.adicionarParametro {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 15px;
} */

@media screen and (max-width: 768px){

  .adicionarParametro{
    width: 100%;
  }
  
}
