.parameter-container{
  width: 80%;
  padding: var(--pd-4);
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.adicionarParametro{
  margin-top: 12px;
  padding: var(--pd-4);
  margin-left: auto;
}

/* Estilos gerais */
.title-text {
  color: #2c2c2c;
  font-size: 24px;
  font-weight: bold;
}


.btn {
  background-color: #5751d3 !important;
  color: white;
  padding: 10px 15px;
  border-radius: 10px;
  cursor: pointer;
  border: none !important;
  font-size: 16px;
  font-weight: 600;
  transition: background-color 0.3s ease;
}

.btn:hover {
  background-color: #4a1990 !important;
  color: white !important;
}

.button-container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
  width: 100%;
}

/* Botões de ação no dropdown */
.button-group {
  display: flex;
  justify-content: center;
  gap: 15px;
}

.btn-editar, .btn-deletar {
  font-size: 16px;
  padding: 10px 25px;
  border-radius: 5px;
  cursor: pointer;
  border: none;
  font-weight: 600;
  transition: background-color 0.3s ease;
}

.btn-editar {
  background-color: #5751d3;
  color: white;
}

.btn-editar:hover {
  background-color: #4a1990;
  transform: scale(1.05); /* Aumenta o botão em 5% */
}

.btn-deletar {
  background-color: #5751d3;
  color: white;
}

.btn-deletar:hover {
  background-color: #4a1990;
  transform: scale(1.05); /* Aumenta o botão em 5% */
}

/* Botão de filtro */
.btn-filtro {
  background-color: #7e57c2;
  color: white;
  padding: 10px 15px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  margin-left: auto;
  border: none;
}

.btn-filtro:hover {
  background-color: #6a4c93;
}

/* Estilo do componente de adicionar parâmetro
.adicionarParametro {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 15px;
} */

/* Estilos para os botões */
.btn-salvar, .btn-deletar {
  background-color: #5751d3; /* Cor de fundo */
  color: white; /* Cor do texto */
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 5px;
  font-weight: bold;
  font-size: 16px;
}

.btn-salvar:hover, .btn-deletar:hover {
  background-color: #4a1990; /* Cor de fundo ao passar o mouse */
  transform: scale(1.05); /* Aumenta o botão em 5% */
}

.input-field {
  width: 100%;
  padding: 8px;
  margin: 5px 0;
  box-sizing: border-box;
  border: none;
  background-color: var(--main-white);
  border-radius: 6px;
}

.adicionarParametro {
  background-color: #5751d3;
  color: white;
  padding: 10px 15px;
  border-radius: 5px;
  cursor: pointer;
  border: none;
  font-size: 16px;
  font-weight: 600;
  transition: background-color 0.3s ease;
  margin-right: 8%; /* Move o botão para a direita */
}

.adicionarParametro:hover {
  background-color: #4a1990;
  color: white;
  transform: scale(1.05);
}

.field-label {
  display: block;
  font-weight: bold;
  color: #5751d3;
}

.field-value {
  display: block;
  margin-bottom: 10px;
}

.button-group {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
  width: 90%;
  margin-bottom: 1.5%;
}

.error-text {
  color: red;
  font-size: 14px;
  margin-top: 5px;
  font-weight: 700 !important;
}

@media screen and (max-width: 768px){

  .adicionarParametro{
    width: 100%;
  }
  
}
