.command-input{
    background-color: #ffffff;
    width: 350px;
    padding: 3px;
    border-radius: 10px;
    border: #000000 1px solid;
}

.option {
    background-color: #ffffff;
    border: #000000 1px solid;
    width: 350px;
    padding: 3px;
}