.grafico-container {
  width: 100%;
  height: 300px;
  /* Ajuste a altura conforme necessário */
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  /* Opcional, para centralizar o conteúdo */
}

.dashboard-title-text {
  font-size: 1.3rem;
  margin-bottom: 10px;
}