.new-alert-button {
  margin-top: 20px;
  background-color: #6a1b9a; /* Cor verde para destacar a ação positiva */
  color: white;
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-left: 20px; /* Distância do título */
}
.new-alert-button:hover {
  background-color: #6a1b9a; /* Escurecendo o botão no hover */
}

.new-alert-button:active {
  background-color: 6a1b9a; /* Cor mais escura quando clicado */
  transform: scale(0.98); /* Leve efeito de clique */
}
.new-alert-container{
  display: flex;
  justify-content: flex-end;
  padding: 0 1rem;
  max-width: 1200px;
  width: 100%;
}

.alert-container{
    max-width: 1200px;
    width: 100%;
    padding: 0 var(--pd-1);
    margin: var(--mg-1) 0;
  }

  
  .alert-container .alert-box{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
    margin-bottom: var(--mg-4);
    padding:  var(--pd-5);
    background: var(--main-white);
    border: 2px solid var(--main-yellow);
    border-radius: 10px;
  }
  .no-alert-text {
    color: var(--main-purple);
  }

  .alert-container .alert-box .alert-info{
    display: flex;
    align-items: center;
    gap: 0.5rem;
  }
  .alert-container .alert-box .alert-info .icon-and-type{
    display: flex;
    align-items: center;
  }
  .alert-container .alert-box .alert-info .type-text{
    font-weight: 800;
    text-transform: uppercase;
  }
  .alert-container .alert-box .alert-info .yellow{
    color: var(--main-yellow);
  }
  .alert-container .alert-box .alert-info .red{
    color: var(--main-red);
  }
  
  @media(max-width: 991px){
    .alert-container .alert-box{
      flex-direction: column;
    }
    .alert-container .alert-box .alert-info{
      display: flex;
      align-items: center;
      flex-direction: column;
    }
  }
