.container-tabela {
  display: flex;
  justify-content: center;
  border-radius: 15px;
  background: white;
  color: var(--font-black);
  box-sizing: border-box;
  width: 80%;
  margin: 1.5% 0;

}

/* CSS REFERENTE A TABELA */

.tabela {
  width: 100%;
  border-collapse: separate;
  border-spacing: 0;
  border-radius: 12px;
  overflow: hidden;
}

.tabela th, .tabela td {
  padding: 10px;
  text-align: center;
}

.tabela thead{
  background-color: #5751d3;
  color: white;
}

.tabela tbody tr {
  cursor: pointer;
  border-bottom: 1px solid var(--font-black);
}

.tabela tbody tr:last-child td {
  border-bottom: none;
}

.tabela td:last-child {
  border-right: none;
}

.tabela thead th:last-child {
  border-right: none;
}

.linha{
  background-color: var(--main-white);
}

/* Estilos específicos para o dropdown */
.dropdown-tabela {
  border-top: 1px solid var(--font-black); 
  border-bottom: 1px solid var(--font-black);
  border-radius: 0 0 12px 12px;
  padding: 10px;
  transition: all 0.3s ease;
  justify-content: center;
  width: 100%;
  margin: 0;
}

.dropdown-content{
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}

/* Linha separada para o ID */
.id-row {
  margin: 1% 0 0 2.8%;
  font-weight: bold;
  text-align: left;
}

/* Layout para o conteúdo do dropdown com duas colunas */
.dropdown-columns {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

/* Estilos para as colunas do dropdown */
.dropdown-col {
  flex: 1;
  padding: 0 10px;
  box-sizing: border-box;
  margin: 3% 7% 4% 2%;
  text-align: left !important;
  width: 100%;
  align-items: center;
  justify-content: center;
  margin-bottom: 2%;
}

/* Estilos para os elementos extras (como botões) */
.dropdown-extra {
  display: flex;
  flex-direction: row;
  margin-top: 10px;
  width: 100%;
  justify-content: center;
}

/* Estilização dos botões do dropdown */
.dropdown-item {
  display: flex;
  flex-direction: row;
  justify-content: center; /* Alterar para espaçar os itens */
  gap: 15px; /* Adiciona espaçamento entre os botões */
  width: 100%;
  padding: 5px; /* Adicionar um padding para espaçamento interno */
}


.edicao {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}

.edicao p {
  margin-bottom: 10px; /* Espaçamento entre os parágrafos */
}

/* Estilização campos de edição*/
.edicao input, select {
  border: none;
  padding: var(--pd-2);
  border-radius: 5px;
  margin-top: 5px;
  margin-bottom: 2%;
  background-color: var(--main-white);
  box-sizing: border-box; 
  width: 100%;
}

/* Estilização do botão */
button .btnTabela {
  display: flex;
  padding: 5px 10px;
  background-color: var(--main-purple);
  border: none;
  color: white;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s;
}

button .btnTabela:hover {
  background-color: var(--main-white);
  color: black;
  border: 3px solid var(--main-purple);
}
.dropdown-extra {
  display: flex;
  justify-content: center; 
  width: 100%;
  margin-top: 15px; /* Adiciona um espaçamento superior ao dropdown */
}

.btn {
  padding: 8px 12px;
  background-color: var(--main-purple);
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.btn:hover {
  background-color: var(--main-white);
  color: black;
  border: 2px solid var(--main-purple);
}
