.parametros{
    background-color: white;
    padding: 1%;
    margin: 1%;
    border: 2px solid var(--main-purple);
    border-radius: 5px;
    color: var(--main-purple)
}
.parametros-selecionados{
  display: flex;
  gap: 5px;
}
.input-full-size {
  background-color: var(--main-white) !important;
}

.parametros-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: white;
}

.parametros-editar {
  border: none;
}

.input-edicao {
    border: none !important;
    padding: var(--pd-2);
    border-radius: 5px;
    margin-top: 5px;
    margin-bottom: 2%;
    background-color: var(--main-white);
    box-sizing: border-box; 
    width: 100%;
  }
  .estacao-flex{
    display: flex;
    justify-content: space-evenly;
    width: 100%;
  }
